USE WEB_FOOTWEARLUXURY
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29/11/2024 5:29:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProId] [int] NOT NULL,
	[ProductSizeId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProId] [int] NOT NULL,
	[ProductSizeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShippingAddress] [nvarchar](250) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProId] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[HinhAnh] [nvarchar](250) NULL,
	[BanChay] [bit] NOT NULL,
	[Moi] [bit] NOT NULL,
	[KhuyenMai] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[ProductSizeId] [int] IDENTITY(1,1) NOT NULL,
	[ProId] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductSizes] PRIMARY KEY CLUSTERED 
(
	[ProductSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[User_UserId] [int] NULL,
 CONSTRAINT [PK_dbo.UserProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProFs]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProFs](
	[UserProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.UserProFs] PRIMARY KEY CLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/11/2024 5:29:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [ProId], [ProductSizeId], [SoLuong], [UserId]) VALUES (55, 10, 15, 6, 6)
INSERT [dbo].[Carts] ([Id], [ProId], [ProductSizeId], [SoLuong], [UserId]) VALUES (56, 8, 34, 3, 6)
INSERT [dbo].[Carts] ([Id], [ProId], [ProductSizeId], [SoLuong], [UserId]) VALUES (67, 2, 1, 6, 2)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Nam')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Nu')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Unisex')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProId], [ProductSizeId], [Quantity], [Price]) VALUES (3, 2, 4, 22, 1, CAST(1300000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProId], [ProductSizeId], [Quantity], [Price]) VALUES (4, 3, 2, 1, 2, CAST(1200000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailId], [OrderId], [ProId], [ProductSizeId], [Quantity], [Price]) VALUES (5, 4, 4, 22, 1, CAST(1300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [ShippingAddress], [PaymentMethod], [OrderDate], [TotalAmount]) VALUES (2, 2, N'    53/5a', N'COD', CAST(N'2024-11-28T13:07:11.453' AS DateTime), CAST(1300000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [UserId], [ShippingAddress], [PaymentMethod], [OrderDate], [TotalAmount]) VALUES (3, 2, N'53/5a', N'COD', CAST(N'2024-11-28T13:13:40.630' AS DateTime), CAST(2400000.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([OrderId], [UserId], [ShippingAddress], [PaymentMethod], [OrderDate], [TotalAmount]) VALUES (4, 2, N'53/5a', N'COD', CAST(N'2024-11-28T13:14:17.023' AS DateTime), CAST(1300000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProId], [ProName], [MoTa], [Gia], [HinhAnh], [BanChay], [Moi], [KhuyenMai], [CategoryId]) VALUES (1, N'Giày Thể Thao', N'Chạy Bộ', CAST(900000.00 AS Decimal(18, 2)), N'/Image/Image_Sp/GiayTheThao.jpg', 1, 0, 0, 3)
INSERT [dbo].[Products] ([ProId], [ProName], [MoTa], [Gia], [HinhAnh], [BanChay], [Moi], [KhuyenMai], [CategoryId]) VALUES (2, N'Giày Boots', N'Đi Phượt', CAST(1200000.00 AS Decimal(18, 2)), N'/Image/Image_Sp/GiayBoots.jpg', 0, 1, 0, 1)
INSERT [dbo].[Products] ([ProId], [ProName], [MoTa], [Gia], [HinhAnh], [BanChay], [Moi], [KhuyenMai], [CategoryId]) VALUES (4, N'Giày Boots Nữ', N'Đi Phượt', CAST(1300000.00 AS Decimal(18, 2)), N'/Image/Image_Sp/GiayNuBoots.jpg', 0, 0, 1, 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([ProductSizeId], [ProId], [Size], [Quantity]) VALUES (1, 2, 38, 20)
INSERT [dbo].[ProductSizes] ([ProductSizeId], [ProId], [Size], [Quantity]) VALUES (2, 2, 39, 25)
INSERT [dbo].[ProductSizes] ([ProductSizeId], [ProId], [Size], [Quantity]) VALUES (3, 2, 40, 30)
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([UserId], [FullName], [PhoneNumber], [Address], [BirthDate], [User_UserId]) VALUES (2, N'Trương Văn Thạch Bảo Nè', N'0373792915', N'53/5kkkk', CAST(N'2004-10-29T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[UserProfiles] ([UserId], [FullName], [PhoneNumber], [Address], [BirthDate], [User_UserId]) VALUES (3, N'Nguyễn Thế Duy', N'0373792910', N'53/5a', CAST(N'2004-10-05T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[UserProfiles] ([UserId], [FullName], [PhoneNumber], [Address], [BirthDate], [User_UserId]) VALUES (4, N'Nguyễn Thế Duy', N'0373792910', N'53/5a', CAST(N'2004-10-05T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProFs] ON 

INSERT [dbo].[UserProFs] ([UserProfileId], [UserId], [FullName], [PhoneNumber], [Address], [BirthDate]) VALUES (38, 2, N'Trương Văn Thạch Bảo', N'0373792910', N'53/5a', CAST(N'2004-10-28T00:00:00.000' AS DateTime))
INSERT [dbo].[UserProFs] ([UserProfileId], [UserId], [FullName], [PhoneNumber], [Address], [BirthDate]) VALUES (39, 8, N'Trương Văn Thạch Bảo', N'0373792910', N'53/5a', CAST(N'2004-10-29T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserProFs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [Role]) VALUES (1, N'admin', N'admin', N'admin@gmail.com', N'admin')
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [Role]) VALUES (2, N'user', N'1235', N'user@gmail.com', N'user')
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [Role]) VALUES (4, N'user2', N'123', N'thacbao29102@gmail.com', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.Products_ProId] FOREIGN KEY([ProId])
REFERENCES [dbo].[Products] ([ProId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.Products_ProId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.ProductSizes_ProductSizeId] FOREIGN KEY([ProductSizeId])
REFERENCES [dbo].[ProductSizes] ([ProductSizeId])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.ProductSizes_ProductSizeId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Carts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_dbo.Carts_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProId] FOREIGN KEY([ProId])
REFERENCES [dbo].[Products] ([ProId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.ProductSizes_ProductSizeId] FOREIGN KEY([ProductSizeId])
REFERENCES [dbo].[ProductSizes] ([ProductSizeId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.ProductSizes_ProductSizeId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSizes_dbo.Products_ProId] FOREIGN KEY([ProId])
REFERENCES [dbo].[Products] ([ProId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSizes] CHECK CONSTRAINT [FK_dbo.ProductSizes_dbo.Products_ProId]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfiles_dbo.Users_User_UserId] FOREIGN KEY([User_UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_dbo.UserProfiles_dbo.Users_User_UserId]
GO
ALTER TABLE [dbo].[UserProFs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProFs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProFs] CHECK CONSTRAINT [FK_dbo.UserProFs_dbo.Users_UserId]
GO

